<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://jobtracker.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jobtracker.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JobTracker</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JobTracker</UserName>
    <_SavePWD>True</_SavePWD>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="Model1" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:mikedatabase.database.windows.net,1433;Initial Catalog=JobTracker_db;User ID=tiyclass@mikedatabase;Password=MEi$tw4c" Name="Data Source=tcp:mikedatabase.database.windows.net,1433;Initial Catalog=JobTracker_db;User Id=tiyclass@mikedatabase;Password=MEi$tw4c;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="JobTracker.Model1, JobTracker" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="True">
          <Destination Path="Data Source=tcp:mikedatabase.database.windows.net,1433;Initial Catalog=JobTracker_db;User ID=tiyclass@mikedatabase;Password=MEi$tw4c" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="JobTracker.Models.ApplicationDbContext, JobTracker" MigrationConfiguration="JobTracker.Migrations.Configuration, JobTracker" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mikedatabase.database.windows.net,1433;Initial Catalog=JobTracker_db;User ID=tiyclass@mikedatabase;Password=MEi$tw4c</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Model1-Web.config Connection String">
      <ParameterValue>Data Source=tcp:mikedatabase.database.windows.net,1433;Initial Catalog=JobTracker_db;User Id=tiyclass@mikedatabase;Password=MEi$tw4c;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>